body {
 padding: 150px;
 margin-left: 200px;
 font-family: 'Roboto', sans-serif;
}

a {
 color: #00B7FF;
}

h1, h3 {
 color: #00eed0;
}

#url {
 width: 400px;
 height: 43px;
 font-size: 20px;
 color: gray;
}


#btnSend {
 width: 100px;
 height: 50px;
 border-width: 2px;
 color: white;
 font-size: 17px;
 background-color: #00eed0 !important;
}